#landing-container {
    height: 100%;
    width: 100%;
    display: flex;
    min-width: 875px;
}

#landing-container .lost-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #FDDEDE;
    min-width: 400px;
}

#landing-container .found-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #EBF8FF;
    min-width: 500px;
}

#landing-container .logo {
    height: 100px;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    padding-left: 80px;
    position: absolute;
}

#landing-container section p {
    font-size: 32px;
    color: #000;
}


#landing-container section a {
    text-decoration: none;
    margin-top: 10px; 

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2;
}

.lost-link {
    color: #C53030;
}

.found-link {
    color: #3172B7;
}

#landing-container section link:hover {
    opacity: 0.5;
}

#landing-container section img {
    height: 400px;
}
